<ion-view view-title="Cuenta varios soles">
  <ion-content>
    <div class="card">
    	<div class="item item-text-wrap text-center">
    		<h1>S/. 34.20</h1>
    	</div>
    	<div class="row">
    		<div class="col-60 col-offset-20 text-center">
    			<i class="icon ion-plus-round"></i>
    			<strong>S/. 1,500.00 </strong>
    			<span>Ahorro Univ</span>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-60 col-offset-20 text-center">
    			<i class="icon ion-plus-round"></i>
    			<strong>S/. 240.00 </strong>
    			<span>Ahorro PS1</span>
    		</div>
    	</div>
    </div>
    <div class="card">
    	<div class="row">
    		<h4>Últimos Movimientos</h4>
    	</div>
    	<div class="row">
    		<div class="col-80 col-offset-10">
    			<i class="icon ion-minus-round"></i>
    			<strong>S/. 2.00 </strong>
    			<span>Pasaje</span>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-80 col-offset-10">
    			<i class="icon ion-plus-round"></i>
    			<strong>S/. 100.00 </strong>
    			<span>Deuda</span>
    		</div>
    	</div>
    	<div class="row">
    		<div class="col-80 col-offset-10">
    			<i class="icon ion-minus-round"></i>
    			<strong>S/. 7.00 </strong>
    			<span>Menú</span>
    		</div>
    	</div>
    </div>
    <a href="" class="item item-icon-right">
    	<i class="icon ion-plus-circled"></i>
    </a>
  </ion-content>
</ion-view>